In [80]:
import pandas as pd
import numpy as np

In [81]:
data = pd.read_csv('/Users/shivamgupta/Downloads/Delhi_v2.csv')

In [82]:
data.head()

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Welcome ...,4148.148148
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,NaN,Flat,\n\n\n Mapsko M...,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,NaN,Flat,\n\n\n This pro...,6918.238994
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3.0,NaN,New Property,1.0,Unfurnished,2.0,near Gaur Mulberry Mansion,Flat,\n\n\n AIG Roya...,3628.571429
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,3.0,NaN,Flat,\n\n\n The prop...,4592.592593

In [83]:
data.shape

(7738, 18)

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7738 non-null   int64
 1   price             7738 non-null   float64
 2   Address           7738 non-null   object
 3   area              7738 non-null   float64
 4   latitude          7738 non-null   float64
 5   longitude         7738 non-null   float64
 6   Bedrooms          7738 non-null   float64
 7   Bathrooms         7738 non-null   float64
 8   Balcony           5166 non-null   float64
 9   Status            7164 non-null   object
 10  neworold          7738 non-null   object
 11  parking           2612 non-null   float64
 12  Furnished_status  4124 non-null   object
 13  Lift              1733 non-null   float64
 14  Landmarks         2759 non-null   object
 15  type_of_building  7738 non-null   object
 16  desc              7738 non-null   object
 17  Price_sqft        7738 non-null   float64
dtypes: float64(10), int64(1), object(7)
memory usage: 1.1+ MB

In [85]:
for column in data.columns:
    print(data[column].value_counts())
    print ("*"*20)

0       1
5198    1
5166    1
5165    1
5164    1
       ..
2575    1
2574    1
2573    1
2572    1
7737    1
Name: Unnamed: 0, Length: 7738, dtype: int64
********************
4500000.0    290
3500000.0    252
4000000.0    247
6000000.0    243
5500000.0    223
            ...
6860000.0      1
5290000.0      1
8450000.0      1
7670000.0      1
4510000.0      1
Name: price, Length: 584, dtype: int64
********************
Raj Nagar Extension, Ghaziabad, Delhi NCR                                     163
Indirapuram, Ghaziabad, Delhi NCR                                             152
Greater Noida West, Greater Noida, Delhi NCR                                  100
Noida Extension, Noida, Delhi NCR                                              63
NH 24, Ghaziabad, Delhi NCR                                                    61
                                                                             ...
e block sector 57, Sector 57, Gurgaon, Delhi NCR                                1
Ramakrishna apartment, Indraprastha Extension, New Delhi - East, Delhi NCR      1
Rajnagar Extension Gahziabad, Raj Nagar Extension, Ghaziabad, Delhi NCR         1
Rajendra Park, Rajendra Park, Gurgaon, Delhi NCR                                1
sandal apartment, Shalimar Garden Extension 1, Ghaziabad, Delhi NCR             1
Name: Address, Length: 4145, dtype: int64
********************
900.0     325
1000.0    264
1100.0    205
1200.0    156
800.0     137
         ...
1067.0      1
1638.0      1
1531.0      1
4690.0      1
1898.0      1
Name: area, Length: 1102, dtype: int64
********************
28.605958    101
28.649348     79
28.704053     62
28.646286     37
28.664488     30
            ...
28.673101      1
28.586241      1
28.507627      1
28.491388      1
28.625850      1
Name: latitude, Length: 2945, dtype: int64
********************
77.444512    101
77.369626     79
77.437331     62
77.406051     37
77.347494     30
            ...
77.261925      1
77.409897      1
77.336327      1
77.433517      1
77.435336      1
Name: longitude, Length: 2912, dtype: int64
********************
2.0     3525
3.0     3373
4.0      642
5.0       98
6.0       46
7.0       17
9.0       16
10.0      11
8.0       10
Name: Bedrooms, dtype: int64
********************
2.0     5051
3.0     1907
4.0      551
5.0      138
6.0       44
7.0       21
8.0       12
9.0       10
10.0       4
Name: Bathrooms, dtype: int64
********************
2.0     1793
3.0     1516
1.0     1082
4.0      613
5.0      130
6.0       21
7.0        4
10.0       3
8.0        3
9.0        1
Name: Balcony, dtype: int64
********************
Ready to Move         7148
Under Construction      16
Name: Status, dtype: int64
********************
Resale          6905
New Property     833
Name: neworold, dtype: int64
********************
1.0      1715
2.0       640
3.0       110
4.0        45
6.0        14
         ...
18.0        1
602.0       1
16.0        1
624.0       1
179.0       1
Name: parking, Length: 65, dtype: int64
********************
Semi-Furnished    2199
Unfurnished       1230
Furnished          695
Name: Furnished_status, dtype: int64
********************
2.0     800
1.0     296
0.0     269
3.0     258
4.0      86
6.0       8
5.0       7
7.0       4
10.0      2
8.0       2
9.0       1
Name: Lift, dtype: int64
********************
metro station                                    8
NH 8 and Dwarka Expressway                       6
Shipra Mall                                      6
DPS School                                       6
abes engineering college                         5
                                                ..
Next to sector 78 metro station                  1
Main Market is just 100 mtr walking distance.    1
telephone exchange sector 12, gurgaon            1
Nearby Sanjay Park                               1
vvip mall                                        1
Name: Landmarks, Length: 2612, dtype: int64
********************
Flat                6226
Individual House    1512
Name: type_of_building, dtype: int64
********************
\n                                                                                                                                                                                                                                                                                                                                                                                 3257
\n                    \n                    \n                    \n                       Multistorey apartment is available for sale. It is a good location property. Please contact for more details.\n                    \n                                                                                                                                                    145
\n                    \n                    \n                    \n                       property is in a good locality\n                    \n                                                                                                                                                                                                                                    25
\n                    \n                    \n                    \n                       Builder floor apartment is available for sale. It is a good location property. Please contact for more details.\n                    \n                                                                                                                                                   21
\n                    \n                    \n                    \n                       Multistorey apartment is available for sale.it is a good location property. Please contact for more details.\n                    \n                                                                                                                                                      20
                                                                                                                                                                                                                                                                                                                                                                                   ...
\n                    \n                    \n                    \n                       3rd floor with roof right without lift and parking.\n                    \n                                                                                                                                                                                                                1
\n                    \n                    \n                    \n                       excellent ventilation,  fans ND Havells geysers provided  , furnished kitchen ND wardrobes made up of brand hetich\n                    \n                                                                                                                                                 1
\n                    \n                    \n                    \n                       Multistorey apartment is available for sale. It has covered area 602 sq-ft, it is 2 BHK apartment. Please contact for more details.\n                    \n                                                                                                                                1
\n                    \n                    \n                    \n                        It's a 2nd floor Builder Floor Apartment in a building of total 3 floors. The location has easy access to, Oriental Bank of Commerce (1 km ), Delhi College of Studies (1 km ), Parsvanath MMX (2 km ) and Vaishali Metro Station (4 km ). \n                    \n                       1
\n                    \n                    \n                    \n                       vvip flat available for sale 3bhk unit below 10th floor\n                    \n                                                                                                                                                                                                            1
Name: desc, Length: 4181, dtype: int64
********************
5000.000000     125
4000.000000      83
5555.555556      53
3333.333333      52
10000.000000     52
               ...
5391.304348       1
3952.901598       1
3900.975244       1
3361.344538       1
3688.092729       1
Name: Price_sqft, Length: 3946, dtype: int64
********************

In [86]:
data.isna().sum()

Unnamed: 0             0
price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Balcony             2572
Status               574
neworold               0
parking             5126
Furnished_status    3614
Lift                6005
Landmarks           4979
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [87]:
data.drop(columns=['area_type', 'availability', 'society', 'balcony'], inplace=True)

KeyError: "['area_type', 'availability', 'society', 'balcony'] not found in axis"

In [88]:
data.describe()

,Unnamed: 0,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,parking,Lift,Price_sqft
count,7738.000000,7.738000e+03,7738.000000,7738.000000,7738.000000,7738.000000,7738.000000,5166.000000,2612.000000,1733.000000,7738.000000
mean,3868.500000,8.320635e+06,1409.506591,28.552092,77.273476,2.708193,2.501163,2.426442,7.673047,1.829198,5543.660241
std,2233.912524,7.223197e+06,718.929581,0.107420,0.180606,0.877026,0.867050,1.083677,60.417508,1.192607,2408.659307
min,0.000000,1.700000e+06,501.000000,28.240023,76.884101,2.000000,2.000000,1.000000,1.000000,0.000000,2100.000000
25%,1934.250000,4.200000e+06,990.000000,28.455539,77.078590,2.000000,2.000000,2.000000,1.000000,1.000000,3950.986915
50%,3868.500000,6.000000e+06,1250.000000,28.574637,77.345320,3.000000,2.000000,2.000000,1.000000,2.000000,4972.674332
75%,5802.750000,9.500000e+06,1650.000000,28.642520,77.421054,3.000000,3.000000,3.000000,2.000000,2.000000,6350.638693
max,7737.000000,8.500000e+07,9500.000000,28.799748,77.688028,10.000000,10.000000,10.000000,1406.000000,10.000000,44378.698225

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7738 non-null   int64
 1   price             7738 non-null   float64
 2   Address           7738 non-null   object
 3   area              7738 non-null   float64
 4   latitude          7738 non-null   float64
 5   longitude         7738 non-null   float64
 6   Bedrooms          7738 non-null   float64
 7   Bathrooms         7738 non-null   float64
 8   Balcony           5166 non-null   float64
 9   Status            7164 non-null   object
 10  neworold          7738 non-null   object
 11  parking           2612 non-null   float64
 12  Furnished_status  4124 non-null   object
 13  Lift              1733 non-null   float64
 14  Landmarks         2759 non-null   object
 15  type_of_building  7738 non-null   object
 16  desc              7738 non-null   object
 17  Price_sqft        7738 non-null   float64
dtypes: float64(10), int64(1), object(7)
memory usage: 1.1+ MB

In [90]:
data[ 'location' ]. value_counts ()

KeyError: 'location'

In [91]:
data[ 'location'] = data[ 'location' ].fillna('Sarjapur Road')

KeyError: 'location'

In [92]:
data[ 'size']. value_counts()

KeyError: 'size'

In [93]:
data['size'] = data['size'].fillna('2 BHK')

KeyError: 'size'

In [94]:
data['bath'] = data[ 'bath']. fillna(data[ 'bath' ].median())

KeyError: 'bath'

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7738 non-null   int64
 1   price             7738 non-null   float64
 2   Address           7738 non-null   object
 3   area              7738 non-null   float64
 4   latitude          7738 non-null   float64
 5   longitude         7738 non-null   float64
 6   Bedrooms          7738 non-null   float64
 7   Bathrooms         7738 non-null   float64
 8   Balcony           5166 non-null   float64
 9   Status            7164 non-null   object
 10  neworold          7738 non-null   object
 11  parking           2612 non-null   float64
 12  Furnished_status  4124 non-null   object
 13  Lift              1733 non-null   float64
 14  Landmarks         2759 non-null   object
 15  type_of_building  7738 non-null   object
 16  desc              7738 non-null   object
 17  Price_sqft        7738 non-null   float64
dtypes: float64(10), int64(1), object(7)
memory usage: 1.1+ MB

In [96]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

KeyError: 'size'

In [97]:
data[data.bhk > 20]

AttributeError: 'DataFrame' object has no attribute 'bhk'

In [26]:
data[ 'total_sqft' ]. unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [27]:
def convertRange(x) :
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0]) + float (temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [28]:
data[ 'total_sqft' ]=data[ 'total_sqft']. apply(convertRange)

In [29]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [30]:
data[ 'price_per_sqft'] = data[ 'price'] *100000 / data[ 'total_sqft']

In [31]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [32]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [34]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: location, Length: 1306, dtype: int64

In [35]:
data['location'] = data[ 'location'].apply(lambda x: x.strip())
location_count= data[ 'location' ].value_counts()

In [36]:
location_count

Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: location, Length: 1295, dtype: int64

In [37]:
location_count_less_10=location_count[location_count<=10]
location_count_less_10

BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: location, Length: 1054, dtype: int64

In [38]:
data['location' ]=data[ 'location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [39]:
data[ 'location' ]. value_counts()

other                 2886
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

In [40]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [42]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [43]:
data = data[ ((data['total_sqft']/data['bhk']) >= 300)]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [44]:
data.shape

(12530, 7)

In [45]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [46]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby ('location'):
        
        m = np.mean(subdf.price_per_sqft)
        
        st = np.std(subdf.price_per_sqft)
        
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df], ignore_index =True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896     5659.062876
std      880.694214      0.979449     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [48]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats = {}
    for bhk, bhk_df in location_df.groupby('bhk'):
        bhk_stats[bhk] = {
            'mean': np.mean(bhk_df.price_per_sqft),
            'std': np.std(bhk_df.price_per_sqft),
            'count': bhk_df.shape[0]
        }
    for bhk, bhk_df in location_df.groupby('bhk'):
        stats = bhk_stats.get(bhk-1)
        if stats and stats['count']>5:
            exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [50]:
data=bhk_outlier_remover(data)

In [51]:
data.shape

(8857, 7)

In [52]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668
...,...,...,...,...,...,...,...
10292,other,2 BHK,1200.0,2.0,70.0,2,5833.333333
10293,other,1 BHK,1800.0,1.0,200.0,1,11111.111111
10296,other,2 BHK,1353.0,2.0,110.0,2,8130.081301
10297,other,1 Bedroom,812.0,1.0,26.0,1,3201.970443
10300,other,4 BHK,3600.0,5.0,400.0,4,11111.111111

In [54]:
data.drop(columns=['size', 'price_per_sqft'], inplace=True)

In [55]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [57]:
data.to_csv("Cleaned_data.csv")

In [59]:
X=data.drop(columns=['price'])
y=data['price' ]

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [62]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [63]:
print(X_train.shape)
print(X_test.shape)

(7085, 4)
(1772, 4)

In [77]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['location']),
                                                        remainder=' passthrough')

In [79]:
pipe.fit(X_train,y_train)

ValueError: could not convert string to float: 'Kanakapura'